.header {
  background: url('../../images/header.jpg');
  background-size: 100%;
  height: 700px;
  background-position: center;
  position: relative;
}

.head {
  position: relative;
  z-index: 2;
  display: grid;
  width: 70%;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  padding-top: 12%;
  align-items: center;
  color: #222;
}

.title {
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 0px;
  margin: 0;
  letter-spacing: 4px;
  border-right: 2px solid #111;
}

.text {
  padding-left: 30px;
  margin-bottom: 10px;
}

.contact {
  background: rgb(0, 99, 248);
  display: block;
  color: #fff;
  font-weight: bold;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 12px;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0px 10px 54px -11px rgba(0, 0, 0, 0.75);
}

@media (max-width: 1310px) and (min-width: 1100px) {
  .head {
    width: 75%;
    padding-top: 190px;
  }
  .title {
    font-size: 4rem;
  }
}

@media (max-width: 1099px) and (min-width: 850px) {
  .header {
    height: 350px;
    background-position: bottom;
  }

  .head {
    width: 75%;
    padding-top: 350px;
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 4rem;
  }
}
@media (max-width: 849px) and (min-width: 600px) {
  .header {
    height: 440px;
  }

  .head {
    width: 75%;
    padding-top: 100px;
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 3rem;
  }
}

@media (max-width: 599px) and (min-width: 0px) {
  .header {
    background-size: 160%;
    height: 270px;
    position: relative;
    margin-bottom: 300px;
  }

  .head {
    width: 75%;
    grid-template-columns: 1fr;
    padding-top: 260px;
  }

  .title {
    font-size: 2.3rem;
    border: none;
  }

  .text {
    padding-left: 0px;
  }
}
